body{
    background-color: #f1f1f1;
}

/*configura o tamanho do container*/


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*Estilos referentes a navbar*/

/*Estilos referentes ao header*/





/*Estilos referentes ao footer*/

/*Inicio do css do cadastro profissional*/



/*Inicio do css do cadastro Empresa*/




/*Estilos referentes ao match */


/*Inicio do css do cadastro Empresa*/



/* ESTILOS DAS PÁGINAS DE PERFIL    */

.pag-perfil {
    max-width: 1000px;
    margin:auto;
    left: 0;
    right: 0;
    padding: 25px;
    overflow-x: hidden;
}

.head-perfil {
    color: #f1f1f1;
    border-radius: 12px;
    padding: 20px;
    height: 100%;
  }

  #cor-perfil-profissional {
    background-color: #462F98;
  }

  #cor-perfil-empresa {
    background-color: #D25E2C;
  }

  .head-perfil h1{
    font-size: 24px;
    margin: 10px 0 10px 0;
  }

  .head-perfil img{
    width: 100px;
    height:100px;
    padding: 3px;
    margin-top: 50px;
    border-radius:50%;
    background-color:#f1f1f1;
    object-fit: cover;
  }

  .container-dados-perfil {
    background-color: transparent;
    color: #333;
  }

  .card-perfil{
      border: 1.5px solid #ddd;
      border-radius: 12px;
  }
.btn-perfil-editar {
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 12px;
    margin: 10px 0 10px 0;
    border: none;
    transition: .2s;
}

.btn-perfil-editar:hover {
    opacity: 0.8;
}

.btn-perfil-lista {
    font-size: 16px;
    font-weight: 600;
    color: #f1f1f1;
    border: none;
    width: 100%;
    background-color: transparent;
}

.btn-perfil-deletar {
    font-size: 12px;
    font-weight: 600;
    color: #f1f1f1;
    border: none;
    width: 100%;
    background-color: transparent;
    margin: 60px 0 20px 0;
}

